.ArticleList{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sort_by-order {
  display: flex;
}

.sortByDropdown{
padding: 3px;
}

.orderDropdown{
padding: 3px;
}

