.Single-Article {
  width: 800px;
  margin: 0 auto;
  background-color: #1F2833;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  display: grid;
  justify-content: center;
  color: white;
}