.ArticleList{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sort_by-order {
  display: flex;
  justify-content: right;
}

.sortByDropdown{
padding: 3px;
background-color: #1F2833;
}

.orderDropdown{
padding: 3px;
padding-left: 5px;
}