.CommentList-ul {
  display: grid;
  justify-content: center;
  padding-right: 0;
  padding-left: 0;
}

.Comment-List {
  justify-self: center;
}

.ShowComments-button {
  width: 100px;
}

.HideComments-button {
  width: 100px;
}

.Comment-Button_container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 500px) {
  CommentList-ul {
    display: grid;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
  }

  .Comment-List {
    justify-self: center;
  }

  .ShowComments-button {
    width: 100px;
    margin: 10px auto auto auto;
  }

  .HideComments-button {
    width: 100px;
    margin: 10px auto auto 3px;
  }

  .Comment-Button_container {
    display: flex;
    flex-direction: row;
  }
}
