.App-header {
  border: solid 3px;
  border-color: grey;
  font-size: large;
  font-weight: bold;
  display: flex;
  width: auto;
}

.user--avatar {
  width: 80px;
  height: 55px;
}

.UserCard {
  border: solid 3px;
  border-color: purple;
  font-size: medium;
  font-weight: normal;
}

.article-card {
  display: grid;
  border: solid 3px green;
  margin: 10px;
}

.NavBar {
  border: solid 3px yellow;
  margin: 2px;
  display: flex;
  width: auto;
}

.NavBar_topic-card {
  border: solid 3px blue;
  margin: 3px;
  display: grid;
  font-size: larger;
}

.NavBar_topic-slug {
  font-variant: small-caps;
  font-size: xx-large;
}

.Single-Article {
  border: solid 3px green;
}

.article_comment {
  border: solid 3px blue;
}
